# Binary files  
*.pdf
*.jpg

# Submission files
!report/12_lora_2page_report.pdf

# Python virtual environment and cache
.venv
__pycache__/
.ipynb_checkpoints/

# System files
.DS_Store

# LaTeX auxiliary files
*.aux
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz

# Misc.
*.log
models/
